.vc-wordle-cls-1 {
    fill: currentColor;
}

.vc-wordle-cls-2 {
    fill: currentColor;
}

.vc-wordle-chat-button:hover .vc-wordle-cls-1 {
    fill: #dabc45;
}

.vc-wordle-chat-button:hover .vc-wordle-cls-2 {
    fill: #7bb677;
}